div {
    background-color: white;
}

#container {
    height: 352px;
    width: 352px;
    border: 1px solid black;
}

.turnBlack {
    background-color: black;
}

.asd {
    float: left;
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

.asd:hover {
    background-color: black;
}