div {
    background-color: white;
}

#container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: stretch;
    height: 352px;
    width: 352px;
    border: 1px solid black;
}

.turnBlack {
    background-color: black;
}

.asd {
    width: 11.1111%;
    height: 11.1111%;
    /* border: 1px solid black; */
}

.asd:hover {
    background-color: black;
}