div {
    background-color: white;
}

#container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: stretch;
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

.turnBlack {
    background-color: black;
}

.asd {
    padding: 0px;
    /* border: 1px solid black; */
}

.asd:hover {
    background-color: black;
}

.smth {
    border: 1px solid black;
}